[2021-10-08 03:42] markme123 opened #1 "Unclear usage"
how to user duplex_tools split_on_adapter

[2021-10-18 18:10] Serka-M opened #2 "Error in running split_on_adapter"
Hello,

I tried running the command `duplex_tools split_on_adapter fastq_pass split_res`, but got the following error:

[code]
Any ideas on what could be causing the issue?

[2021-10-21 14:24] #2 closed, assigned to nobody

[2021-10-31 08:41] Kirk3gaard opened #3 "Which release of guppy has guppy_basecaller_duplex?"
Hi

I cannot seem to see guppy_basecaller_duplex mentioned in the guppy 5.0.16 release notes. Which version introduced this? I cannot seem to find it in 5.0.15 (guppy_basecall_client,guppy_basecaller,guppy_basecaller_supervisor,guppy_basecall_server).

Best regards
Rasmus

[2021-10-31 12:21] fbrennen commented on #3
Hi @Kirk3gaard -- there is a beta version of `guppy_basecaller_duplex` available through the Q20+ community channel:

https://community.nanoporetech.com/posts/q20-community-update

The full version of this is in the next guppy release, which will be available shortly.

[2021-10-31 12:21] #3 closed

[2021-11-02 15:59] Kirk3gaard opened #4 "duplex_tools filter_pairs to have min and max length options?"
Hi
It would be nice to have options for duplex_tools filter_pairs to filter read pairs by length to save time on duplex calling.

Best regards
Rasmus

[2021-11-02 17:34] ollenordesjo commented on #4
Hi Rasmus,

Not a bad idea, we could consider adding in a --max_length argument there, I'll see if I can take a look at it tomorrow

[2021-11-08 09:22] ollenordesjo commented on #4
Hi @Kirk3gaard, we've added both a --min_length and --max_length option now. Feel free to try it out!

[2021-11-11 01:12] ChuShin opened #5 "duplex_tools filter_pairs failed on *fastq.gz files produced by Promethion"
Hello,

We noticed a glitch (documented below) where _filter_pairs_ failed to find **Good Pairs** from the fastq.gz files produced by Promethion.

**INPUT**
[code]
**Problem**
[code]

**Decompressing the fastq.gz works**

[code]

**Regular Gzips work fine**
[code]

[2021-11-11 09:54] ollenordesjo commented on #5
Thanks for spotting @ChuShin, we'll take a look at it and see what's going on

[2021-11-11 10:58] ollenordesjo commented on #5
Hm, curious, just to confirm, which version of duplex-tools was running there? I'm trying it on 0.2.5, and I think it should be functionally similar from 0.2.3 upwards. I think if something is going wrong with finding the expected ids, it would be here:

https://github.com/nanoporetech/duplex-tools/blob/master/duplex_tools/filter_pairs.py#L118

Is there any chance you could share the original fast

[2021-11-12 16:54] ChuShin commented on #5
Hi @ollenordesjo ,
I am using 0.2.5. Please find a link below to the test data:

https://www.dropbox.com/sh/wg6cj8q2hnag6hw/AABc_8kGEinYZ1h44s9PUyY7a?dl=0

Thanks

[2021-11-13 02:50] mitenjain opened #6 "Only works with gzipped fastq files"
In testing this on Ubuntu, I noticed that read splitting only works with gzipped fastq files.

If the files aren't gzipped, it does not show an error but rather just says:

0it [00:00, ?it/s]
Split 0 reads kept 0 reads

Just raising it here in case it hasn't been noted before.

[2021-11-15 10:07] Rasinj commented on #6
Thanks for noticing Miten, we'll definitely sort that, should hopefully be done tomorrow.

[2021-11-16 09:18] ollenordesjo commented on #6
Hi Miten,

Just wanted to check if you checked the --pattern option? If you set it to --pattern "*.fastq", I think things should work as expected.

I'm realising that it makes sense to process unzipped fastqs by default though, so we'll probably change the defaults.

[2021-11-16 10:48] ollenordesjo commented on #5
Thanks @ChuShin! I'll just grab those files and have a go. Will keep you updated

[2021-11-16 11:05] ollenordesjo commented on #5
Hi @ChuShin, sorry for the delay in taking a look at this. I'm getting the one good pair as expected running with the test data you linked:

[code]

Would you mind trying by downloading the same data from the dropbox link you sent and see if that still gives an error for you? I'm wondering if this could somehow be platform-dependent.

Cheers!

[2021-11-16 19:48] ChuShin commented on #5
Hi @ollenordesjo ,

Thanks, you are right! I created a new virtual environment and got the expected results this time. The compatibility issue seems to have come from pip reusing existing libraries rather than collecting from duplex_tools at installation.

Cheers!

[2021-11-16 19:48] #5 closed

[2021-11-16 20:14] mitenjain commented on #6
Hi Olle,

You are right. Changing the --pattern does make it work. I think when I tried this before, I changed multiple variables at once which is why it did not work.

I do agree that altering the defaults may be useful (or just dynamically parse the sequence file based on extension perhaps?).

Thank you for looking into this.

[2021-11-17 10:20] ollenordesjo commented on #6
Hi @mitenjain, I've just pushed 0.2.6 which shouldn't be less surprising, and work on both gzipped and non-zipped fastqs. Do let me know if you try it out and if it works as expected. Also happy to take other feedback.

Many thanks

[2022-01-11 03:03] defendant602 opened #7 "TypeError: mkdir() got an unexpected keyword argument 'exist_ok'"
when I run the pairs_from_summary program, I got the error like this

`[10:55:41 - FindPairs] Duplex tools version: 0.2.7
Traceback (most recent call last):
  File "/export/pipeline/RNASeq/Software/Duplex_tools/bin/duplex_tools", line 11, in <module>
    load_entry_point('duplex-tools==0.2.7', 'console_scripts', 'duplex_tools')()
  File "/export/pipeline/RNASeq/Software/Duplex_tools/lib/python3.6/

[2022-01-11 09:32] Rasinj commented on #7
Hi!

That's mysterious, Pathlib should have the exist_ok argument added from 3.5, and it looks like you're using 3.6.

Can you run this line below (swapping out python for the interpreter you're using if necessary)?

[code]

Let me know if that's giving the same error. You may want to try with python3.8 instead if it does.

[2022-01-11 09:52] defendant602 commented on #7
Thanks for your reply. I swapped out python for the python I used for duplex_tools and run the above command. It gave the same error.

`Traceback (most recent call last):
  File "<string>", line 1, in <module>
TypeError: mkdir() got an unexpected keyword argument 'exist_ok'`

I will try with another python version. Thanks.

[2022-01-11 11:12] defendant602 commented on #7
Hi , @Rasinj
   I reinstalled duplex_tools using python 3.8, run the same command : duplex_tools pairs_from_summary sequencing_summary.txt ./output   , but the problem still exists.

[code]

[2022-01-11 11:33] defendant602 commented on #7
I checked my pathlib package version, it's 1.0.1.  Is this version too old for duplex_tools?

but pip automatically installed pathlib 1.0.1 when I install duplex_tools.

Maybe the dependencies to install duplex_tools should be modified a little?

[2022-01-11 16:26] Rasinj commented on #7
Hi @defendant602, ah I think that must be it. Thanks for noticing. In fact, I believe it should be included by default, so perhaps the most sensible thing is to remove it as an explicit dependency

[2022-01-13 13:03] defendant602 opened #8 "how to use assess_split_on_adapter"
I have finished runing split_on_adapter program, but I don't know how to use assess_split_on_adapter program to assess the splitting, since assess_split_on_adapter produces too little help infomation when I run duplex_tools assess_split_on_adapter -h

[code]

Could you please help me out on what parameters should I pass to the assess_split_on_adapter ?

[2022-04-03 10:28] olawa opened #9 "slow pairing process"
I am trying to re-basecall a large set of cDNA reads (~200M) with duplex but it is just too slow. I am guessing I get too many candidates since many reads will be of similar length (1M candidates from 10M reads, LSK109). Guppy_duplex with guppy6.1.1.

A few questions:
1) are you requiring reads to be from the same pore or is pairing just based on time?
2) read_all_fastq seems like the slowest part

[2022-04-03 14:01] olawa commented on #9
Ok, it looks like I was using the ont_guppy_duplex_pipeline which appears not be using the same code as duplex-tools. It looks like it is not mult-threaded at this step. Running duplex-tools now and it is faster at reading the fastq.

[2022-04-03 14:12] cjw85 commented on #9
Hi @olawa,

Unfortunately I can't coomment on ont_guppy_duplex_pipeline. That might be one for @fbrennen.

To explain briefly: duplex-tools first finds candidate pairs of reads that were read consecutively in a channel and are about the same length (I think within 10% of the length of the longer read @ollenordesjo can confirm). The second step performs an alignment of the end of the first read in

[2022-04-04 08:12] ollenordesjo commented on #9
@cjw85, correct, currently (with default settings), it's required that the length difference between the paired reads is less than 10% or 200bp, whichever is less. It's likely that the 10% number is going to be the more stringent one, so if you happen to end up with a low number of reads, you can adjust this value (https://github.com/nanoporetech/duplex-tools/blob/master/duplex_tools/pairs_from_su

[2022-04-04 18:56] olawa commented on #9
Thanks @cjw85 and @ollenordesjo, have tried it a bit more also with gDNA now and it is giving some high quality reads even with old R9.4 data. The pairing is working well with duplex-tools but takes days for the guppy_duplex script in the current guppy release (it is at fastq 1340/1700 after a day while the same dataset took only a minutes to pair with duplex-tools) so I hope guppy_duplex can be u

[2022-04-04 19:44] ollenordesjo commented on #9
Thanks for feedback on this @olawa! I'll get in touch with the guys behind guppy_duplex and see if we can get a speedup to it.

Cheers

[2022-04-05 10:23] ollenordesjo commented on #9
Hi @olawa, yes, I think for ultra-long reads, it may be suitable to change to 10% cutoff to something like 25% or similar. I do know that the duplex basecalling works better if the reads are of approximately the same length, so that is one reason to be conservative here. No reason to not play around through, definitely possible that being less stringent can recover more data of sufficient quality.

[2022-04-06 18:01] olawa commented on #9
Not sure what causes the difference but it was much faster to run with a single concatenated file. I was able to get good pairings for R9.4 cDNA eventually, not many (~80k from >10M) but quality is great. I shifted the extracted seq 50 bases to avoid adaptor sequence and used 400bp to get reliable pairs. From eyeballing a few reads the second strand is often truncated in the end so it might help t

[2022-04-26 13:26] TonyBolger commented on #9
I know it's not actually this project, but there's a fairly trivial fix to get a massive performance improvement in the pair-filtering part of the duplex pipeline (e.g. 89 hours to 16 minutes for one mid-size promethION run).

The problem is not the fastq parsing itself, but the read name lookup - which uses lists rather than sets.

`temp_read_ids = list(candidate_pairs["read_id"])`
`comp_read_ids

[2022-04-26 14:34] fbrennen commented on #9
Hi @TonyBolger -- thanks very much for the suggestion. We'll have a look at it right away.

[2022-05-06 15:08] MostafaYA opened #10 "guppy_basecaller_duplex generated six fastq files from 252 fast5 files...."
Hi,
I used `guppy_basecaller_duplex` on data produced with the kit SQK-NBD112-24 on FLO-MIN112 flowcell.

The Following error appears and out of **252** fast5 files, ONLY **six** fastq files were produced. That I feel is a big loss of data if this
is ok.
This was the error "repeatd many many times with different sample id"
`[guppy/error] basecalling::PriorityReadQueue::pass_read_pair: Cannot proce

[2022-05-09 08:22] cjw85 commented on #10
Hi @MostafaYA,

You are better off emailing support@nanoporetech.com or asking this question in the Nanopore Community; it is a different team internally that supports Guppy than those which develop and can support this duplex_tools project.

[2022-05-22 16:35] adbeggs opened #11 "Specify model?"
HI Team

Any chance of specifying the calling model when running duplex_tools? I manually edited the scripts to use the R10.4.1 models but it crashes half way through...

Andrew

[2022-05-22 16:40] adbeggs commented on #11
Ignore me, wrong tool

[2022-05-22 16:40] #11 closed

[2022-05-30 10:22] iiSeymour commented on #9
Thanks for flagging this @mattloose - @TonyBolger's fix was taken but we haven't pushed a release _(sorry!)_.

@MarkBicknellONT is working on getting a release sorted.

[2022-05-30 10:26] mattloose commented on #9
Thanks - guppy_basecaller_duplex seems to have a similar issue when it loads up. When given a pairing list of 775K length it has been at least 1 hour and it hasn't even started calling yet. Are there any similar fixes there? (Version 6.0.6+8a98bbcbd)?

[2022-05-30 10:37] MarkBicknellONT commented on #9
Hi @mattloose - the long pause at the beginning of processing in guppy_basecaller_duplex is actually a slightly different process happening.  When the duplex caller starts up, it needs to locate all the read IDs which have been provided in the pair list.  It does this by indexing the input FAST5 files to build up a list of read_id to filename mappings.  For large datasets this can take a very long

[2022-05-30 10:43] mattloose commented on #9
Thanks @MarkBicknellONT - for info this is running on the SSD on promethion.

There is no way it should be this slow. All the index information required is in the sequencing_summary files that have been used to generate the simplex calls - its should be possible to parse those in the order of seconds?

[2022-05-30 11:07] MarkBicknellONT commented on #9
We could certainly parse the simplex sequencing summary if it is available, which would be much faster than reading the ids from the FAST5 files. There are two (perfectly solvable) issues with this approach:
- guppy_basecaller_duplex can run independently of the guppy_duplex pipeline, so it can't guarantee that the simplex sequencing summary is actually available. We could add an optional argument

[2022-05-30 11:22] mattloose commented on #9
For info - 6504 files containing 775,000 pairs of reads took just under 2 hours to index on the promethION SSD array. Now just for the base calling itself to complete :-)

[2022-05-30 14:43] #10 closed

[2022-06-05 14:53] callumparr opened #12 "Can this split read into more than 2 subreads?"
We have reads generated from proximal ligation with internal adapters. I was wondering if this tool could search for an adapter and then split the read based on multiple internal adapters being found.

[2022-06-05 15:14] cjw85 commented on #12
You might like to checkout the [split_on_adapter](https://github.com/nanoporetech/duplex-tools#usage) tool. Guppy can also perform this action as part of basecalling.

[2022-06-07 14:06] callumparr commented on #12
Thanks, I will check this out. :)

[2022-06-07 14:06] #12 closed

[2022-06-23 10:02] callumparr opened #13 "allow multiple splits does not work with test duplication"
I am trying to see if I can use this tool to split read concatamers that are generated from proximity ligation assay.

Before I went in too deep altering the underlying adapter sequences I wanted to see if it works well using the current adapters.

I took the fastq in the test/data and duplicated the sequence.

But running

[code]
the fastq sequence is as follows:

[code]

the output splits at the

[2022-06-23 12:24] onordesjo commented on #13
Hi! Thanks for reporting, I'll take a look at it and see what may be going on.

[2022-06-23 13:14] onordesjo commented on #13
No worries at all, possibly good to get this documented in case people stumble upon (hopefully really rare) issues with internal adapters very early/late in the reads! Just cleaning some things up, there should be two new params in the new version (0.2.10), trim_start, and trim_end. You would hopefully only need to change trim_end from default of 200 to something like 20.

[2022-06-27 03:54] callumparr commented on #12
Is it possible to use the assess split on adapter tool when allowing for multiple read splits. as this does not generate a split_multiple_times.pkl file.

[2022-06-27 09:40] onordesjo commented on #12
Right, there's a question about whether the multiple adapters come from true contacts, or whether they come from missed open pore between the reads. That's one reason why I'd be careful to not take a count of reads with multiple internal adapters as a given. There should be a fix coming for that, look out for anything in release notes mentioning "twitchy" event detection

[2022-06-27 09:42] callumparr opened #14 "Feature request: split_on_adapter print each alignment within a read that results in a split (multiple splits)"
Is it possible to not only save the print_alignment to file rather than just stdout with the `--print_alignment` option but do this for each alignment found within a read in the case there are multiple splits.

[2022-06-27 09:51] callumparr commented on #12
Is this release for duplex_tools or Pore-C?

That's interesting as I am seeing where its splitting reads but when I align them to reference, it appears to be a contiguous and I also cannot see any alignment to my adapter in blastn. Maybe I have to tune the edit distance.

[2022-06-27 09:57] onordesjo commented on #12
It should be a generic feature, not in duplex-tools or pore-c specifically, I'd say keep an eye on the nanopore community site. Could be worth trying to tune the edit distance, but most valuable would be to take a look at the raw reads and see if there is any open pore between the reads

[2022-06-27 10:11] onordesjo commented on #14
How you would use the output though? It can often be a pain to parse alignment that's dumped as ascii. Perhaps it would be better to have a table of matches? Would that be better/useful?

|read_id|start|end|
|---|---|---|
|befd-...|20|30|
|befd-...|120|130|

[2022-06-27 10:53] callumparr commented on #14
It is useful to have an entire record of where and how close the alignments are for all hits as opposed to the first hit in the case of multiple splits.

At least the position, start, and end would be good to have for each alignment that meets the edit distance threshold for each read. Can then extract these sequences myself from the original input read to look at the alignment.

[2022-06-27 10:59] callumparr commented on #12
Ah OK. I guess in this case as I have used 1D sequencing adapters I should run duplex_tools split to first use it as intended to separate dsDNA_1-dsDNA_2 ligation events and in silico concatenation.

And then run again with my custom adapters that should be internal.

[2022-06-27 11:02] onordesjo commented on #12
Yep, that sounds like a sensible plan. Sorry, was misparsing what you're doing, unlikely that you have issues with missed splits (on your own custom adapters)

[2022-06-27 12:27] onordesjo commented on #14
Makes sense, I've made a MR internally that should be looked through quite soon

[2022-06-27 15:43] callumparr commented on #14
Thanks!

[2022-06-28 05:32] callumparr commented on #13
Just got round to testing this, despite reducing trim to 10 on start and end I can still only get one split on the test fastq included.

[code]

[2022-06-29 09:37] onordesjo commented on #13
There, should be fixed now with v0.2.11:
https://github.com/nanoporetech/duplex-tools/releases/tag/v0.2.11

[2022-06-29 16:37] claumer opened #16 "Several uncertainties"
Hi there,

I'm trying to run duplex basecalls on a PromethION cDNA dataset made with kit12/R10.4 chemistry. A few items of confusion:

a.) in the data/ directory of guppy 6.1.7 I don't see any configuration file called q20-fixed-2.0-ft-10M.cfg . Where are users meant to find this? Would the standard config file for 1d basecalling, given knowledge of the sequencing kit/flow cell, work in lieu?

b.)

[2022-06-29 17:07] cjw85 commented on #16
If I remember correctly the program reads into memory the first and last section of all reads which are part of a candidate pair in order to perform the pairwise alignments to other reads. The simple alternative is to load read sections on the fly when examining a pair of reads --- that was originally implemented as was very slow due to the random file access involved. Some rearchitecting would be

[2022-08-10 05:47] Coryza opened #17 "Combining split_on_adapter with duplex calling"
Hi,

From your readme.md it's unclear for me if / how to one can combine the split_on_adapter tool with the duplex calling? The output files of the first do not match with the input files of the second - and I see no parameter in the guppy basecaller to indicate that potentially reads have been split.

Thanks,

Koen

[2022-08-10 07:54] Rasinj commented on #17
Hi @Coryza, you would be better off relying on the read splitting that is already integrated in guppy, it works in a similar fashion to split_on_adapter and should make for a more seamless workflow as well. There is a `--do_read_splitting` option that you can give to guppy_basecaller (and to guppy_basecaller_duplex). I would also suggest setting the `--min_score_read_splitting` to 58 if doing this

[2022-08-10 11:07] Coryza commented on #17
Hi,

Thanks for the quick response. Would it be possible to give guppy custom
adapters (if not directly, could one edit something hard coded). This is
for example possible with the split_on_adapter. Also, how would that work
when providing read pairs as a txt for these 'chimeric reads'? Just the
read versus itself?

Much appreciated, Koen

On Wed, Aug 10, 2022, 09:54 o ***@***.***> wrote:

[2022-08-11 08:19] Rasinj commented on #17
Hi Koen,

Sorry for later reply this time. There is a .cfg file in the barcoding folder in guppy/data where you can change the mid-adapter. I would have to refer to someone else for the guppy questions unfortunately, possibly better asked on the community I think.

[2022-08-26 13:22] tbooth opened #18 "Document the relationship between ont-guppy-duplex-pipeline and duplex_tools"
The current advice from ONT regarding how to perform duplex basecalling is here:

https://community.nanoporetech.com/posts/guppy-v6-0-0-release (dated 6th December 2021 - login required to view)

It makes no mention of duplex-tools, but says to `pip install ont-guppy-duplex-pipeline` and then run the script from that package, `guppy_duplex`, on the original fast5 files.

As far as I can see, this

[2022-08-26 16:10] tbooth commented on #18
Sorry, my mistake - I see ont-guppy-duplex-pipeline does also incorporate an alignment-based filtering step, but it does not yield the same results as this package. I get about twice the number of candidate duplex pairs. I guess I'll need to actually basecall these to see how many are false positives.

[2022-08-26 16:20] cjw85 commented on #18
Hi @tbooth,

The scripts in the current version in Guppy were taken from an earlier version of this repository, hence the similarities. Guppy needs updating, IIRC the major difference is the compute performance. @ollenordesjo can comment on the output differences.

[2022-09-05 09:22] onordesjo commented on #18
Hi @tbooth, sorry, have been on vacation, just seeing this now.

The option that mostly affects the output results is the `min_qscore` filter (https://github.com/nanoporetech/duplex-tools/blob/master/duplex_tools/pairs_from_summary.py#L320). Without re-running the same things through ont-guppy-duplex-pipeline and duplex_tools and checking carefully, that would be my first guess on why the number o

[2022-09-05 12:42] MortenEneberg opened #19 "specify custom adapters to split_on_adapter"
We see an extensive amount of chimeras with no intermediate sequencing adapters using the ligation sequencing kit 110. We use the SQK-LSK110 on multiplexed samples that have 24-nt barcodes in each end. After barcoding (in index PCR) the samples are pooled and used as input to the SQK-LSK110 kit. We have up to 24 different barcode sets.

Chimeric sequences have structures like:

```5'-ADAPTER-Y-TOP

[2022-09-05 12:50] onordesjo commented on #19
Hi @MortenEneberg, could you try setting PCR primers here:

https://github.com/nanoporetech/duplex-tools/blob/master/duplex_tools/split_on_adapter.py#L36

then, run with the "PCR" setting like the command below:

`duplex_tools split_on_adapter <fastq_directory> <output_directory> PCR`

It may give you the following, in which case we would have a think of how to retain the tail-barcode in the left

[2022-09-06 08:35] MortenEneberg commented on #19
Hi @onordesjo

So I tried with just a few reads where I knew the structure.

One was a read where nothing was supposed to happen having a structure like:
`5'-ADAPTER-Y-TOP-BARCODEX-PRIMER1-SEQ-PRIMER2-BARCODEX-3'`
This read was not split.

The next one was a read with the following structure, supposed to be split into 3 reads, as I set the --allow-multiple-splits:
`5'-ADAPTER-Y-TOP-BARCODEX-PRIMER

[2022-09-06 08:56] onordesjo commented on #19
Hi @MortenEneberg,

Getting there it seems!

If the last SEQ is rather short, it may be the case that it's masked (to not accidentally split reads right at the end).

You could try to use the additional options `--trim_end 10 --trim_start 10`  (which would reduce trimming down to 10bp on either side).

[2022-09-06 11:54] MortenEneberg commented on #19
Hi @onordesjo,

I tried your suggested settings.

The read where nothing was supposed to happen having a structure like:
`5'-ADAPTER-Y-TOP-BARCODEX-PRIMER1-SEQ-PRIMER2-BARCODEX-3'`
now splits into:
`5'-ADAPTER-Y-TOP-BARCODEX-PRIMER1-3'`
and
`5'-BARCODEX-3'`

thus discarding: `5'-SEQ-PRIMER2-3'` ...
As with the examples in the previous comment, remains/small parts of the adapters are on each side o

[2022-09-08 19:40] eyesmo opened #20 "False positives in filter_pairs when run on linearized plasmid"
Hi there, I'm attempting to do duplex basecalling on a linearized plasmid sample. When I ran filter_pairs on this dataset, it told me 90% of my reads were duplex pairs, which seems unlikely given I'm using Kit 12.

Based on the filtering steps filter_pairs reported, it looks like this tool identifies duplex pairs based on whether two consecutive reads are of roughly the same length, and whether th

[2022-09-08 19:47] eyesmo commented on #20
Better yet, do the sequencing adapters have any UMIs/stretches of random nucleotides embedded within them?

[2022-09-08 20:14] eyesmo commented on #20
I think initially used filter_pairs incorrectly. I specified a directory I intended as the output for duplex basecalling, instead of the directory where all the simplex fastq reads were stored.

Running a second time with the simplex fastq reads directory specified, it now says roughly 30% of my reads are good pairs. Still higher than I'd expect for Kit 12, but lower than 90%.

[2022-09-09 07:50] Thomieh73 opened #21 "Split_on_adapter and sample type"
I am trying to see in the documentation for duplex_tools what the reasoning is behind the flags for Sample type in the Split_on_adapter command. I see that it is Native or PCR, but how do I decide which flag to use, and what is the reasoning to have this flag.

[2022-09-09 13:22] onordesjo commented on #20
Hi @eyesmo,
It's going to be difficult to decide whether a read is a follow-on in most cases where you're sequencing only a single read. If ther are at least a few different sequences in the sample, then these options can be used to adjust the stringency of the match:

`bases_to_align`:
https://github.com/nanoporetech/duplex-tools/blob/master/duplex_tools/filter_pairs.py#L39
`align_threshold`:
htt

[2022-09-09 13:23] onordesjo commented on #21
Hi @Thomieh73!

It would depend on if there are PCR primers in the reads (coming from using a PCR protocol during the sample prep). If this is not the case, you can use the Native option.

If you're unsure, the Native option will work for both Native and PCR, but PCR will only work with PCR reads.

Cheers!

[2022-09-09 13:24] onordesjo commented on #21
The idea behind also having a PCR mode is that it can decrease the false positive rate for the cases when there are PCR primers in the reads.

[2022-09-12 09:30] MortenEneberg commented on #19
Hi @onordesjo,

I appreciate your help!

Did you have a chance to look at it yet?

Kind regards

[2022-09-12 10:11] onordesjo commented on #19
Hi @MortenEneberg, sorry, I don't have much bandwidth to look at this at the moment.

Would you be able to use a debugger to step through split_on_adapter and see where the decisions are made? I'd suggest starting on this line, which is where all results are found for matches against the subsequence:

https://github.com/nanoporetech/duplex-tools/blob/master/duplex_tools/split_on_adapter.py#L142

[2022-09-16 06:44] Thomieh73 commented on #21
@onordesjo Thanks for the reply and that makes sense to me. Out of curiosity, how does the PCR mode work? I guess the split_on_adapter tool first searches for the Nanopore sequencing adapters, but when PCR adapters are there, I guess the region next to the adapter is similar between the reads, due to the primers

[2022-09-16 08:18] onordesjo commented on #21
Yes, that's correct, the only difference with the PCR mode is how the target to search for is constructed

https://github.com/nanoporetech/duplex-tools/blob/master/duplex_tools/split_on_adapter.py#L49:
[code]

So, the sequence to search for in PCR is basically:

`primer(revcomp) - adapter(revcomp) - adapter - primer`

[2022-09-16 09:21] Thomieh73 commented on #21
Okay, thanks for explaining this. That gives me some insight in the process.

[2022-09-16 09:21] #21 closed

[2022-09-27 04:01] callumparr commented on #13
Sorry for taking so long to get round to reply. This now performs as expected.

[2022-09-27 04:01] #13 closed

[2022-09-27 04:58] callumparr opened #22 "Not all sub reads from multiple splits are written to FASTQ output file"
TL;DR is there some other filtering applied when writing sub reads to FASTQ, as some reads in middle_fasta do not end up in the final FASTQ.

I have been using split_on_adapter as a standard to first split any reads that may result from failure to either split reads during sequencing or result from ligation.

I allow for multiple splits and seems to work as expected.
[code]
so for instance

2a0ed5

[2022-09-27 09:24] onordesjo commented on #22
Hi @callumparr,

The only reason a read would not be written out is if there's an overlapping match:

https://github.com/nanoporetech/duplex-tools/blob/master/duplex_tools/split_on_adapter.py#L173

We've decided to err on the side that doesn't cause any sequence duplication in the output in this case, but it's likely that we can solve it more elegantly somehow.

[2022-09-27 11:02] callumparr commented on #22
Does overlapping match relate to the adapter sequences like below?

<img width="528" alt="image" src="https://user-images.githubusercontent.com/41637575/192508792-cf249213-ccca-4a1b-8878-d584dc951aa3.png">

[2022-09-27 11:27] onordesjo commented on #22
You can see which spans are candidates to write out by looking at `hits` just before this line:

https://github.com/nanoporetech/duplex-tools/blob/master/duplex_tools/split_on_adapter.py#L164

The idea is to write out the complement of the adapter hits, so the following loops through the intervals against the adapter, and the `hits` will be populated with the complement of this (the end of each hi

[2022-09-28 16:16] callumparr commented on #22
Thank you. For now, it seems by eye that there is some overlap.

[2022-09-28 16:16] #22 closed

[2022-09-29 03:15] callumparr commented on #17
Is duplex calling restricted to kit 12 chemistry and above? Judging by the guppy config files it seems this is the case.

[2022-09-29 13:46] onordesjo commented on #17
@callumparr, I don't think there's any restriction to kit12 chemistry and above, but I shall ask around and check. It may not be supported, but that also may not stop it from being possible (:

[2022-09-29 14:09] onordesjo commented on #17
@callumparr, people are responding that it should work in principle even if we don't support it. I wouldn't say there'd be any harm in trying if you happen to have some and see what happens!

[2022-09-30 07:29] callumparr commented on #17
From alignments alone, I am seeing some potential. So updated guppy should output potential partners regardless of the config file used?

Also in general about the duplex. Is the length of the follow-on strand always similar?

I am seeing some alignments that overlap but on the opposite strands for the same read but often the alignment for the later portion of the read is shorter.

[2022-10-20 04:45] osilander opened #23 "Feature request: specify number of threads"
Would be great to be able to change default thread allocation, or maybe I missed the option.

Cheers,
Olin

[2022-10-20 14:04] onordesjo commented on #20
Hi, @eyesmo, just wanted to check if you had any luck trying to increase the bases_to_align? It should help fairly well with making sure you have a complement being rc of the template.

[2022-10-24 08:33] MortenEneberg commented on #19
Hi @onordesjo,

Have you had the time to give it a look?

Kind regards,
Morten

[2022-10-24 10:09] onordesjo commented on #19
Hi @MortenEneberg,

I have started to look at it, but may probably need to add in the barcode sequences to this plot to get a better view of what should be written out. I've added in imperfect matches to both of your primer sequences (using `seqkit locate`), but it's not entirely clear yet
![image](https://user-images.githubusercontent.com/60302330/197502811-5ff11449-2eb6-4629-974c-821fdfd90ad5.pn

[2022-10-24 10:30] MortenEneberg commented on #19
Hi @onordesjo,

Thank you for looking into it!

I have attached the barcodes here, where also the sequencing adapter is: [Single_barcodes_rev_for.txt](https://github.com/nanoporetech/duplex-tools/files/9850906/Single_barcodes_rev_for.txt)

Note that in the attached file it is the primer sequences. When reading one strand the barcodes in 5' and 3' ends will be the same

Kind regards,
Morten

[2022-10-24 10:38] onordesjo commented on #19
Thanks Morten!

I'll add those in and try to get it straightened out. My feeling is that it'll be easiest in this use case to use a standalone tool (since the front-adapter is not actually expected to be in the middle.

Do note by the way that the targets being matched to are these: I forgot to point that out previously, but obviously relevant if you're not actually expecting part of the adapter t

[2022-10-24 10:50] onordesjo commented on #19
Basically, in principle you should have better luck with something like this, detecting

[code]

I've marked up the regions (red bars right under the tick marks) that I understand you'd want written out as separate reads, is this correct?

![image](https://user-images.githubusercontent.com/60302330/197509279-9d0c463f-e610-408b-bde3-81090db4ee86.png)

[2022-10-26 08:07] onordesjo commented on #23
Hi @osilander, this should now be done, we've added --threads to filter_pairs, feel free to try it out in v0.2.13!

[2022-10-26 08:38] osilander commented on #23
Thanks!

[2022-10-26 09:55] osilander opened #24 "base quality scores"
For duplex reads I see base quality scores above what I would naively expect. For example, many bases have **{** - which is ASCII 123, or a qscore of 90. My naive expectation would be few qscores above 60. Average qscores across the read are about as expected (Q30+) - and I understand that _average_ qscores are overwhelmingly affected by the lowest qscores in the read.

Long story short, I am wond

[2022-10-26 10:19] onordesjo commented on #24
Hi @osilander, I'm not immediately sure. I know that the average qscores are calibrated by mapping to reference sequences. I shall ask around and get back to you!

[2022-10-26 10:23] vellamike commented on #24
Hi @osilander - Q scores are indeed calibrated, per-base Q-scores are of course an estimate of how confident the basecaller is in a particular base. Are you seeing evidence that per-base estimates are systematically incorrect?

[2022-10-26 10:42] osilander commented on #24
Sorry, no evidence of that at all, I guess just different from my expectation, for example from the start of a reads, bases are:

`GTATTGCTCTTCAGAACCAGCGGAAATTAACACAAAAGTGTCATGATCTTTCACTCACTGGGGACAATGCCATCGGTATTCTTTTTCAGCTGGCAAGGAGCAAATTACAATAATTCACCAACAGTGGAGGGAAACCTCAACATGCAAACCCACTCGCGTG`

and associated qscores:
`G.:>(-0;;/11<PHDH?FC>K{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{X{{[RL{{@[[MR{JX

[2022-10-31 11:45] MortenEneberg commented on #19
Dear @onordesjo ,

Yes it looks correct! I have attached a paint image (not pretty..) just to make sure we are on the same page :)

Thank you!
![197509279-9d0c463f-e610-408b-bde3-81090db4ee86](https://user-images.githubusercontent.com/81558602/199000511-4d76c901-6080-43a4-8925-1f38c77e4ac2.png)

Morten

[2022-11-04 16:31] surabhiranavat opened #25 "Combining reads post duplex basecalling for assembly"
This may be a naïve question as I'm new to ONT sequencing and analyses. What is the best approach to combine reads post simplex and duplex basecalling for genome assembly? I have a low number of duplex reads, and reads from simplex basecalling. I also have the split reads using split_on_adapter (which I need to assess).

Thanks,
Surabhi

[2022-11-12 18:56] dithiii commented on #25
I have the same question. Anyone have a suggestion?

[2022-11-14 02:45] CharlotteAnne commented on #25
same here

[2022-11-14 02:50] CharlotteAnne opened #26 "config/base calling models"
Hi

I'm confused about the base calling model here, should you use the same one used in simplex base calling or is this model somehow adapted for duplex calling and if so how can we see which duplex models are available?

Thanks for your help,
Charlotte

[2022-11-14 07:34] cjw85 commented on #26
Hi @CharlotteAnne,

Your question might be better asked in the Nanopore Community or to support@nanoporetech.com.

[2022-11-14 07:39] cjw85 commented on #25
We have no definitive recommendation on this topic. I can provide only suggestions.

The flye assembler has options for "corrected reads" and for "trusted contigs". These definitions are most apt for duplex leads. Simplex reads should be provided as raw nanopore reads to Flye. Providing the constituent simplex reads of duplex reads should be avoided on grounds of double counting.

[2022-11-14 09:48] surabhiranavat commented on #25
I asked the Nanopore support team for recommendation and here's what they said: You can either use simplex or duplex. But avoid using both to remove data redundancy. In case, if your coverage is low by using only duplex reads and you want include simplex reads as well, remove the corresponding forward and reverse reads of duplex reads from simplex and merge with the duplex reads. ONT do not have s

[2022-11-15 05:08] dithiii commented on #25
@surabhiranavat Thanks for the idea. I used seqkit instead and I'll cross-post what I did from the same question on ONT's community site.

1) Run guppy to call simplex
2) Run guppy again to call duplex (this really should be an option so you only have to run guppy once).
Now you have two output directories, simplex/.../fastq_pass and duplex/.../fastq_pass. Next run duplex_tools from the nanopore g

[2022-11-28 09:06] onordesjo commented on #19
Hi Morten!

Sorry, I wasn't clear on the last message. I don't think it's something we're planning to support since it's a rather special use case.

You could definitely it a go to replace:

[code]

with:

[code]

and see if you get the right matches then.

Again, sorry for not being clear and not being able to put more resource on this!

[2022-11-30 13:31] olawa commented on #9
Hi @ollenordesjo , updated duplex_tools and it seems the current version still uses ProcessPoolExecutor. Changing this to ThreadPoolExecutor again gave a significant speedup for fastq reading (f00 files) even from SSD. Is there any reason not to use it?

[2022-11-30 13:43] onordesjo commented on #9
Hi @olawa, I don't think there's any reason to not use it. I'll look into it and get it updated unless we see any issues with it. Thanks for poking!

[2022-11-30 18:10] onordesjo commented on #9
Hi again @olawa, just sorted this in v0.2.17, feel free to try it out!